@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Work+Sans:wght@100;400;500&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --heading: #000a2d;
  --para: #777;
  --para-tint: #e4e4e4;
  --black: #212529;
  --white: #fff;
  --white-contrast: #adadad;
  --helper: #8490ff;
  --overlay: #3e64ff;
  --helper-tint: #f3f4ff;
  --bg: #f9f9ff;
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradient-hover: linear-gradient(
    90deg,
    rgb(98 189 252) 0%,
    rgb(132 144 255) 100%
  );
  --gradientSupport: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
  --smooth: all 0.5s ease;
  --icons-bg: rgb(144 172 209 / 20%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

::selection {
  color: var(--black);
  background: var(--helper);
}

/* ========================================
            HEADER SECTION START
   ========================================   */
.header {
  position: fixed;
  top: 0;
  padding: 0 4.8rem;
  height: 10rem;
  width: 100%;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 999;
}

.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: all 0.3s linear;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

/* RESPONSIVE NAV */
.mobile-nav-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ACTIVE CLASSES */
.active {
  color: var(--helper) !important;
}
.f-links-active {
  color: var(--white) !important;
}

/* =================================
            REUSABLE CODE
  ================================= */
.section {
  padding: 9rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
}
.grid-three-column {
  grid-template-columns: repeat(3, 1fr);
}
.grid-four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--gradientSupport);
  padding: 1.6rem 3.2rem;
  border: none;
  color: var(--helper-tint);
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  transition: var(--smooth);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn:hover,
.btn:active {
  box-shadow: var(--shadowSupport);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--helper);
  border-radius: 50%;
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 127%;
  left: 1.5rem;
  min-width: 20rem;
  height: 0.3rem;
  background: var(--helper);
}

/* =================================
            HERO SECTION
  ================================= */

.section-hero {
  background-color: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 6.4rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 80%;
}

/* =============================
            MY BIO DATA
  ============================= */
.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  width: 80%;
  box-shadow: -2rem -2rem 0 0 var(--helper);
  display: inline-block;
}

.bio-data-stats {
  display: flex;
  padding: 6.4rem 0;
  flex-direction: column;
  gap: 3rem;
}

.bio-stats h3 {
  margin-bottom: 1rem;
}

.bio-progress-bar {
  width: 90%;
  height: 0.8rem;
  background: var(--para-tint);
  border-radius: 10rem;
  box-shadow: var(--shadow);
  position: relative;
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: inherit;
  background: var(--gradientSupport);
  border-radius: 10rem;
}

.bio-progress-2::before {
  width: 80%;
}
.bio-progress-3::before {
  width: 95%;
}
.bio-progress-4::before {
  width: 90%;
}
.bio-progress-5::before {
  width: 85%;
}

.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 0;
}

.bio-progress-bar span {
  left: 66%;
}
.bio-progress-2 span {
  left: 76%;
}
.bio-progress-3 span {
  left: 91%;
}
.bio-progress-4 span {
  left: 86%;
}
.bio-progress-5 span {
  left: 81%;
}
/* To create a caret */
.bio-progress-bar span::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
  top: -1.6rem;
}

/* =================================
            PORTFOLIO SECTION
  ================================= */
.section-portfolio {
  background: var(--bg);
  transition: all 0.7s linear;
}

.section-portfolio p {
  max-width: 60rem;
  text-align: justify;
}

.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin: 6.4rem 0;
}

.portfolio-images {
  gap: 3.2rem;
}

.portfolio-images img {
  width: 100%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.img-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradientSupport);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
}

.img-overlay:hover > .overlay {
  transform: translateY(0);
  opacity: 0.8;
  cursor: pointer;
}

.img-overlay .common-heading {
  margin: 0;
  color: var(--white);
  text-decoration: none;
}

.p-btn:hover {
  transform: translateY(-1rem);
}

.p-btn-active {
  transform: translateY(-1rem);
}

.p-image-not-active {
  display: none;
}

/* ===========================================
          work data Section
======================================= */
.section-work-data {
  background: var(--gradientSupport);
  color: var(--white);
  text-align: center;
  transition: all 0.7s linear;
}

.counter-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--white);
}

/* =================================
            OUR SERVICES SECTION
  ================================= */
.section-services {
  transition: all 0.7s linear;
}

.section-services p {
  max-width: 60rem;
}

.section-services .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.service-box {
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
}

.service-box:hover,
.service-box:active {
  transform: translateY(-3rem);
}

.service-box h3 {
  text-transform: capitalize;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.service-icon {
  width: 8rem;
  height: 8rem;
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 3rem;
  position: relative;
  color: var(--heading);
  background-color: var(--icons-bg);
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

.service-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  border: solid 1px var(--black);
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

/* =================================
            RESUME SECTION
  ================================= */
.resume-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-image img {
  width: 80%;
  box-shadow: -2rem 2rem 0 0 var(--helper);
  display: inline-block;
}

.resume-para {
  font-size: 2.4rem;
  letter-spacing: 0;
  text-transform: capitalize;
  color: var(--heading);
}

.resume-data-subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
  margin-top: 4.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--para-tint);
}

.resume-data-left .grid {
  gap: 1.5rem;
}

.resume-data-left .grid p,
.resume-data-right p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resume-data-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.resume-data-right .resume-data-button {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--helper);
  padding: 0.3rem 0;
  min-width: 50%;
  background: #f3f4ff;
  border-radius: 10rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.resume-data-right p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resume-data-bottom-subsection {
  margin-top: 4.8rem;
}

/* =================================
            SWIPER
  ================================= */

.section-testimonial {
  background: var(--bg);
}

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background: var(--white);
  border-radius: 1rem;
  text-align: left;
  box-shadow: var(--shadow);
  position: relative;
}

.swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  border: 5rem solid var(--white);
  border-color: transparent;
  border-top-color: var(--helper-tint);
}

.swiper-client-msg p {
  text-align: justify;
}

.swiper-client-msg p::before {
  content: "\f10d";
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: #ced3ff;
}

.swiper-client-msg p::after {
  content: "\f10e";
  position: absolute;
  bottom: 0;
  right: 3rem;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: #ced3ff;
}

.swiper-client-data {
  align-items: center;
  margin-top: 3.2rem;
  gap: 3.2rem;
}

.swiper-slide img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5 solid var(--helper-tint);
}

/* =================================
            FREELANCING SECTION
  ================================= */

.section-freelancing {
  background-image: url("../img/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  transition: all 0.7s linear;
  text-align: center;
}

.section-freelancing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  opacity: 0.6;
}

.section-freelancing .container {
  position: relative;
}

.section-freelancing h2 {
  font-size: 5.4rem;
}

.section-freelancing span {
  color: #a0ff69;
}

.section-freelancing h2,
.section-freelancing p {
  color: var(--white);
  margin-bottom: 1.8rem;
}

/* =================================
            CONTACT US SECTION
  ================================= */
.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 9rem;
  transition: all 0.3s linear;
}

.section-contact-main .grid {
  gap: 3.2rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.section-contact-main input,
.section-contact-main textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  font-family: "work sans";
  width: 100%;
}

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}

/* =================================
            FOOTER SECTION
  ================================= */
.section-footer {
  background: var(--heading);
  transition: all 0.7s linear;
}

.section-footer h3 {
  color: var(--white);
  margin-bottom: 4rem;
}

.f-about p {
  color: var(--white-contrast);
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: var(--white-contrast);
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p,
.f-address p a {
  color: var(--white-contrast);
}

.f-social-links {
  margin: 5rem;
  text-align: center;
  color: var(--white-contrast);
}

.f-social-links .icons {
  width: 4rem;
  height: 4rem;
  background-color: var(--icons-bg);
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--white);
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

.f-credits p {
  text-align: center;
  color: var(--white-contrast);
}

.section-footer a:hover,
.section-footer a:active {
  color: var(--white);
}

/* scrollToTop styles */
.scrollTop-style {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 1;
}

.scroll-top {
  width: 4rem;
  height: 4rem;
  background-color: var(--helper);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
  cursor: pointer;
}

/* RESPONSIVE MEDIA QUERIES */
/* 1500px */
@media (max-width: 95em) {
  .container {
    max-width: 130rem;
    padding: 0 3.2rem;
  }
  .navbar-list {
    gap: 3.4rem;
  }
}

/* 1200px */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .container {
    max-width: 115rem;
  }
  .grid {
    gap: 4.8rem;
  }
  .section-resume .grid-two-column {
    grid-template-columns: 1fr 2fr;
  }
  .section-resume .resume-data-subsection .grid-two-column {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 110rem;
  }
  .mobile-nav-btn {
    display: block;
    z-index: 9999;
    border: 2px solid var(--black);
    color: #212529;
  }
  .mobile-nav-icon {
    width: 5rem;
    height: 5rem;
    color: #212529;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: var(--para-tint);

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar-list {
    flex-direction: column;
    align-items: center;
  }
  .navbar .navbar-list .navbar-link:link,
  .navbar .navbar-list .navbar-link:visited {
    color: #212529;
    font-size: 3.2rem;
  }

  .navActive .navbar {
    transform: translateX(0%);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .navActive .mobile-nav-btn .mobile-nav-icon[name="menu-sharp"] {
    display: none;
  }
  .navActive .mobile-nav-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .img-overlay .common-heading {
    font-size: 3.2rem;
    text-align: center;
  }
  .img-overlay .common-heading::before,
  .img-overlay .common-heading::after {
    content: "";
    width: 0;
    height: 0;
  }

  .section-hero h1 {
    line-height: 1.05;
  }
  .section-services .grid {
    gap: 6rem;
  }
  .section-services .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-resume .grid-two-column {
    grid-template-columns: 1fr;
  }
  .resume-image {
    grid-row: 2;
    transform: translateY(-2rem);
  }
  .section-resume .grid-two-column img {
    width: 50%;
  }

  .section-footer .grid-four-column {
    grid-template-columns: 1fr 1fr;
  }
}

/* 780px */
@media (max-width: 49em) {
  .container {
    max-width: 75rem;
  }
  .section-hero-data {
    text-align: center;
    /* align-items: center; */
  }
  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
    padding-top: 7rem;
  }
  .section-hero-image img {
    width: 70%;
  }

  .section-portfolio .grid-three-column {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-bio .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-bio .bio-image {
    grid-row: 2;
    margin-top: 3.2rem;
  }
  .section-bio .bio-image img {
    width: 50%;
  }
  .section-work-data .grid-four-column {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 560px */
@media (max-width: 35em) {
  html {
    font-size: 47%;
  }

  .container {
    max-width: 65rem;
  }

  .header {
    padding: 0 3.2rem;
  }
  .header .logo {
    height: 4rem;
  }

  .img-overlay .common-heading {
    font-size: 2.4rem;
  }

  .p-btns {
    gap: 1.5rem;
  }
  .btn {
    padding: 1rem 2rem;
  }

  .counter-numbers {
    font-size: 3.2rem;
  }

  .section-services .grid-three-column {
    grid-template-columns: 1fr;
  }
  .resume-data-subsection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
  .resume-data-right {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem;
  }
  .resume-data-subsection .resume-data-left .grid-two-column {
    grid-template-columns: 1fr;
  }
  .resume-data-right .resume-data-button,
  .resume-data-bottom-subsection .resume-data-button {
    min-width: 30%;
  }

  .section-freelancing h2 {
    font-size: 3.2rem;
  }
  .section-contact-main {
    padding: 0 3.2rem;
  }
  .section-contact-main .grid-two-column {
    grid-template-columns: 1fr;
  }
  .section-contact-main input[type="submit"] {
    max-width: 40%;
  }

  .section-footer .f-about,
  .section-footer .f-address {
    grid-column: 1/-1;
  }
}
